@import "./global.css";

.container-header-color {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
}

.container-color-input {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-main-form {
  display: flex;
  justify-content: center;
  padding: 176px 0;
}

.initial-interface {
  width: 100%;
  height: 100vh;
  display: flex;
}

.title-form {
  text-align: center;
}

.initial-interface-right {
  flex: 1;
  background-color: var(--main-color-white);
}

.initial-interface-left {
  background-color: var(--main-color-1);
  flex: 1;
}

.first-access-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#initial-form {
  width: 460px;
}

.initial-interface-form {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.initial-interface-container-input {
  display: flex;
  flex-direction: column;
}

.input-icon-left-user {
  background: url("../assets/icons/user-icon.png") no-repeat left center;
  padding: 12px 44px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #828282;
}

.acess-key-initial-interface {
  color: rgba(0, 0, 0, 0.596);
  animation: 16s initial-acess-key infinite;
}

.container-acess {
  text-align: center;
}

@keyframes initial-acess-key {
  0% {
    color: rgba(0, 0, 0, 0.164);
  }

  25% {
    color: rgba(0, 0, 0, 0.5);
  }

  50% {
    color: rgba(0, 0, 0, 0.164);
  }

  75% {
    color: rgba(0, 0, 0, 0.5);
  }
}
