@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "button.css";
@import "input.css";
@import "__createNewListModal.css";
@import "__telaListagem.css";
@import "__individualList.css";
@import "__createNewProductModal.css";

* {
  margin: 0;
}

:root {
  --main-color-1: #fecf10;
  --main-color-2: #98debc;
  --main-color-3: #00d8ff;
  --main-color-white: rgb(255, 255, 255);
  --main-color-black: rgb(0, 0, 0);
}
