<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
    <link
      rel="icon"
      href="../assets/media/icons/favicon/favicon.ico"
      type="image/png"
    />

    <script>
        
    </script>

    <title>VouAoMercado | </title>
  </head>
  <body>
    <div class="products-container" id="products-container-body">

        
      <div class="products-title-container">
        <div>
          <h1 class="main-font-h1" id="products-title"></h1>
        </div>
      </div>
      <div class="lists-content-container">
        <div class="lists-content">
          <div class="tools-container">
            <div class="container-icon-new-item">
              <img
                src="../assets/media/icons/new-item-icon.svg"
                id="new-item-icon-product"
              />
            </div>
          </div>
          <div class="products-container" id="products-container">
            <div class="products-lists" id="product-lists">       
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <script src="../scripts/javascript/scripts.js" type="module"></script>
      <script src="../scripts/javascript/vouAoMercado/$individualList.js" type="module"></script>
      <script src="../scripts/javascript/modals/createNewItemModal.js" type="module"></script>
    </footer>
  </body>
</html>
