<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../assets/css/styles.css" />
  <link rel="icon" href="../assets/media/icons/favicon/favicon.ico" type="image/png" />

  <title>vouAoMercado! Listas</title>
</head>

<body>
  <div class="list-view-container" id="list-views">
    <div class="list-view-title-container">
      <div>
        <h1 class="main-font-h1" id="list-view-title"></h1>
      </div>
    </div>
    <div class="lists-content-container">
      <div class="lists-content">
        <div class="tools-container">
          <div class="container-icon-new-item">
            <img src="../assets/media/icons/new-list-icon.svg" id="new-item-icon" class="new-list-btn" />
          </div>
        </div>
        <div class="lists-container" id="lists-container">
          <div class="user-lists" id="user-lists">
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <script src="../scripts/javascript/scripts.js" type="module"></script>
    <script src="../scripts/javascript/vouAoMercado/$listViews.js" type="module"></script>
  </footer>
</body>

</html>