.btn-main-color-1 {
  width: 230px;
  height: 70px;
  background-color: var(--main-bg-color-1);
  color: var(--main-bg-color-light);
  border-radius: 10px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  cursor: pointer;
}

.btn-main-color-2 {
  width: 230px;
  height: 70px;
  background-color: var(--main-bg-color-2);
  color: var(--main-bg-color-light);
  border-radius: 10px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  cursor: pointer;
}

.btn-main-color-3 {
  width: 230px;
  height: 70px;
  background-color: var(--main-bg-color-3);
  color: var(--main-bg-color-light);
  border-radius: 10px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  cursor: pointer;
}
