.initial-interface {
    background-color: rgb(190, 134, 134);
    width: 100%;
    height: 100vh;
    display: flex;
}

.initial-interface-right {
    background-color: rgb(255, 255, 255);
    flex: 1;
}

.initial-interface-left {
    background-color: rgb(209, 207, 64);
    flex: 1;
}