@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "variables.css";
@import "buttons.css";
@import "fonts.css";
@import "inputs.css";
@import "modals.css";

@import "vouAoMercado/__login.css";
@import "vouAoMercado/__listViews.css";
@import "vouAoMercado/__modalCreateNewList.css";
@import "vouAoMercado/__individualList.css";
@import "vouAoMercado/__createNewItemModal.css";

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

* {
  margin: 0;
  outline: none;
  font-family: "Raleway", sans-serif;
}
