:root {
  --main-bg-color-1:#fecf10;
  --main-bg-color-2:#98debc;
  --main-bg-color-3:#00d8ff;

  
  --main-bg-color-light:#ffffff;
  --main-bg-color-neutral:#c0c0c0;
  --main-bg-color-dark:#000000;
}
