.title-and-icone {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.title-and-icone img {
  width: 60px;
}

.modal-new-list-form-container {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.modal-new-list-input-text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal-new-list-input-color-container {
  display: flex;
  align-items: center;
  gap: 26px;
}
.modal-new-list-input-color {
  width: 86px;
  height: 58px;
}

.input-modal-new-list {
  font-size: 26px;
}
.input-modal-new-list::placeholder {
  padding: 20px 6px;
}

.new-list-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1201px) {
  .modal-container {
    width: 70%;
    padding: 40px;
    height: 80% !important;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .modal-container {
    width: 60%;
  }

  .main-font-h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .modal-container-body {
    padding: 20px;
    height: 90%;
  }

  .main-font-h2 {
    font-size: 30px;
    line-height: 30px;
  }

  .main-input-text {
    width: 94%;
  }

  .modal-new-list-input-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .modal-container-footer {
    flex: 2;
  }

  .btn-main-color-1 {
    width: 200px;
    height: 60px;
  }

  .btn-main-color-3 {
    width: 200px;
    height: 60px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .modal-container {
    width: 90% !important;
  }

  .main-font-h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .modal-container-body {
    padding: 20px;
    height: 90%;
  }

  .main-font-h2 {
    font-size: 30px;
    line-height: 30px;
  }

  .main-input-text {
    width: 94%;
  }

  .modal-new-list-input-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .modal-container-footer {
    flex: 2;
  }

  .btn-main-color-1 {
    width: 200px;
    height: 60px;
  }

  .btn-main-color-3 {
    width: 200px;
    height: 60px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .modal-container {
    width: 90% !important;
  }
  .main-font-h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .modal-container-body {
    padding: 20px;
    height: 90%;
  }

  .main-font-h2 {
    font-size: 30px;
    line-height: 30px;
  }

  .main-input-text {
    width: 94%;
  }

  .modal-new-list-input-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .modal-container-footer {
    flex: 2;
  }

  .btn-main-color-1 {
    width: 200px;
    height: 60px;
  }

  .btn-main-color-3 {
    width: 200px;
    height: 60px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .modal-container {
    height: 50%;
  }

  .modal-container-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: unset !important;
    padding: 0 120px;
  }

  .modal-container-body {
    padding: 20px;
    width: 90%;
  }

  .main-font-h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .main-input-text {
    width: 94%;
    font-size: 18px;
  }

  .modal-new-list-input-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .modal-container-footer {
    flex: 2;
  }

  .btn-main-color-1 {
    width: 130px;
    height: 60px;
  }

  .btn-main-color-3 {
    width: 130px;
    height: 60px;
  }
}
